#项目简介
这是使用 React 框架和 SmartUI 组件库的示例项目，主要用于展示 SmartUI 组件库的使用方法和功能。

#项目结构
components: 公共组件

# 项目目标
1. 使用 SmartUI 组件库实现一个示例项目，展示 SmartUI 组件库的使用方法和功能。
2. 主要展示 SmartUI 组件库的 Grid 组件的使用方法和功能。
3. 基于 SmartUI 实现一个下拉网格/下拉树形网格示例。
4. 实现的下拉网格/下拉树形网格支持单选和多选。

# 项目进阶目标
1、SmartUI 下拉网格列需要有 显示值，存储值，显示值是在单元格渲染时显示的，而存储值是绑定在数据源中的。并且单元格的下拉网格需要支持搜索功能。

2、SmartUI 网格的单元格需要支持显示 Listbox，就是复选框组。

3、SmartUI 非单元格中的下拉网格,下拉树形网格也需要支持存储值和显示值的功能，并且下拉网格具有搜索功能。

4、SmartUI 网格中，按Tab键需要从当前选中单元格焦点跳转到下一列单元格的焦点。

5、SmartUI 网格的只读单元格，按ctrl +X 时会将只读单元格的内容剪切掉

6、SmartUI 多选时选中行，焦点行

7、SmartUI 单元格验证（异步）

8、SmartUI 单元格编辑器显示控制（异步）

9、命令列（SmartUI Grid 中的右侧操作栏）需要扩展更多操作按钮

我们使用的是 SmartUI 的 React 版本。现在我们遇到了几个问题：
1. 如何制作一个单元格下拉网格（包括单选、多选和树形数据），这个单元格下拉网格需要支持displayValue和storeValue，并且需要支持过滤功能

2. 如何在单元格中使用 checklist 组件。

3. 单元格编辑状态下，按 Tab 键 如何跳转到下一个单元格并保持自动进入编辑状态？

4. 只读Grid，按ctrl + X 时会将只读单元格的内容剪切掉，如何禁止这一行为？

5. 如何控制Grid的不同单元格的只读状态？




