.smart-window.smart-grid-popup.smart-grid-drop-down-popup {
    padding: 10px;
    width: auto !important;
    height: 100% !important;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    max-width: 500px !important;
    max-height: 250px !important;
}
